<!doctype html>
<html>
<head>
  <style>html { font-size: 12px; font-family: Arial, Helvetica, sans-serif; }</style>
  <meta charset="utf-8">
  <title>>Grid / Binding to local data</title>
  <link rel="stylesheet" href="http://cdn.kendostatic.com/2014.1.528/styles/kendo.common.min.css">
  <link rel="stylesheet" href="http://cdn.kendostatic.com/2014.1.528/styles/kendo.rtl.min.css">
  <link rel="stylesheet" href="http://cdn.kendostatic.com/2014.1.528/styles/kendo.silver.min.css">
  <link rel="stylesheet" href="http://cdn.kendostatic.com/2014.1.528/styles/kendo.silver.mobile.min.css">
  <link rel="stylesheet" href="http://cdn.kendostatic.com/2014.1.528/styles/kendo.dataviz.min.css">
  <link rel="stylesheet" href="http://cdn.kendostatic.com/2014.1.528/styles/kendo.dataviz.default.min.css">

  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://cdn.kendostatic.com/2014.1.528/js/kendo.all.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.js"></script>
  <script src="http://kendo-labs.github.io/angular-kendo/angular-kendo.js"></script>
  <script>
    angular.module("MyApp", [ "kendo.directives" ]);
  </script>
</head>
<body ng-app="MyApp">
<script src="../../build/data/products.js"></script>
<script>
  function MyCtrl($scope) {
    $scope.mainGridOptions = {
      dataSource: {
        data: products,
        schema: {
          model: {
            fields: {
              ProductName: { type: "string" },
              UnitPrice: { type: "number" },
              UnitsInStock: { type: "number" },
              Discontinued: { type: "boolean" }
            }
          }
        }
      },
      height: 550,
      scrollable: true,
      sortable: true,
      filterable: true,
      columns: [
        "ProductName",
        { field: "UnitPrice", title: "Unit Price", format: "{0:c}", width: "130px" },
        { field: "UnitsInStock", title: "Units In Stock", width: "130px" },
        { field: "Discontinued", width: "130px" }
      ]
    };

    $("#itemDisplay").click(function(){
      var grid = $("#grid").data("kendoGrid");


    });
  }
</script>

<div ng-controller="MyCtrl">
  <div kendo-grid id="grid" k-options="mainGridOptions" ></div>
  <button id="itemDisplay"> 아이템을 출력하세요. </button>
</div>

</body>
</html>